* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana, sans-serif;
  overflow-x: hidden;
  padding: 0 20px;
  background-color: #3f3d3d;
}

.main-menu {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.itemImage {
  margin-bottom: 10px;
  background-color: beige;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: space-between;
}

.itemImage:hover {
  transform: scale(1.07);
  transition: 0.5s ease;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-weight: bold;
  padding-top: 10px;
  font-size: 0.9rem;
}
