body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, beige, bisque);
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: gray;
  padding: 40px;
  width: 400px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.input-submit {
  display: flex;
  gap: 5px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background: lightgray;
  font-weight: bold;
  width: 90%;
}

input[type="text"]:focus {
  outline: none;
}

button {
  background-color: #111a;
  color: white;
  font-family: monospace, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #111b;
  transition: 0.5s all;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: lightgrey;
  margin-bottom: 10px;
  border-radius: 10px;
}

.items-list {
  padding: 0;
}
